%html
	%head
	%title Fancy Survey
	= stylesheet_link_tag :application
	= javascript_include_tag :application
	= javascript_include_tag :users
	= csrf_meta_tag
	:javascript

		function setSaveButton()
		{
			$('#profile').submit(function() 
			{  
				var valuesToSubmit = $(this).serialize();
				$.post(
					{
						url: $(this).attr('action'), 
						data: valuesToSubmit,
						dataType: "html",
					}
				);
				return false; 
			});
		}		

		$(document).ready(function() 
		{
			/* timer */
			if (typeof localStorage['count'] != 'undefined')
			{
				var count = parseFloat(localStorage['count']);
			}
			else
			{
				var count = parseFloat("0.0");
			}

			var flag = 0;

			var interval = setInterval(function() 
			{
				count = count + 0.1;
				flag += 1;
				if (flag % 10 == 0)
				{
					time_to_display = (360.0-count).toString().substring(0,5)+"";
					flag = 0;
				}
				else
				{
					time_to_display = (360.0-count).toString().substring(0,5);
				}
				$('#timer_seconds').html(time_to_display);
				localStorage['count'] = count;
			}, 
			100);

			var timeout = setTimeout(function() 
			{
				clearInterval(interval);
				count = 0;
				localStorage["count"] = 0;
			}, 
			360000 - count);

			/* main functionality */
			{
				switch(localStorage['page'])
				{
					case "page1":
						$.get('users/new', function(data) 
						{
							$('#survey').html(data);
						});
						setSaveButton();
						break;

					case "page2":
						if (typeof localStorage['user_id'] != 'undefined')
						{
							arg = { id: localStorage['user_id'] };
						}
						else
						{
							arg="";
						}
						$.get('users/edit', arg, function(data) 
						{
							$('#survey').html(data);
						});
										
						setSaveButton();
						break;

					case "page3":
						$.get('users/gifbin', function(data) 
						{
							$('#survey').html(data);
						});
						$('#timer_seconds').html((360.0-count).toString().substring(0,5));
						clearInterval(interval);
						break;

					default:
						$.get('users/new', function(data) 
						{
							$('#survey').html(data);
						});
						localStorage['page'] = "page1";
						setSaveButton();
						break;
				}
			}	


			$(document).on('ajax:error', function()
			{
				alert("Проверьте, что все поля заполнены верно!");
			}
			);

			$(document).on('ajax:success', function(data, textStatus)
			{
				$('#survey').html(textStatus);
				switch(localStorage['page'])
				{
					case "page1":
						localStorage['page'] = "page2";
						localStorage['user_id'] = $(".edit_user").attr("id").replace("edit_user_","");
						break;
					case "page2":
						localStorage['page'] = "page3";
						$('#timer_seconds').html((360.0-count).toString().substring(0,5))+"";
						clearInterval(interval);
						break;
					default:
						break;
				}
			});		
		});		

	%body
		%table.header{ :width => "100%", :align => "center"}
			%td{ :width => "50%", :align => "center" }
				%img.logo{ :src => "assets/logo.png" }
			%td.navigation{ :width => "50%", :align => "center" }
				%table{ :height => "40px", :width => "100%"}
					%td.navigation#happy_testers 
						%a.navigation_link HAPPY TESTERS
					%td.navigation{ :width => "20px"}
					%td.navigation#status
						%a.navigation_link STATUS
					%td.navigation{ :width => "20px"}
					%td.navigation#todays_survey
						%a.navigation_link TODAY'S SURVEY
					%td.navigation{ :width => "20px"}
					%td.navigation#invite_friends
						%a.navigation_link INVITE FRIENDS
					%td.navigation

			%table.main{ :width => "100%"}
				%tr.empty{ :height => "50px" }
					%tr.content-top
					%td{ :width => "100%", :align => "center" }
						%table{ :width => "100%"}
							%td.empty{ :width => "10%"}
							%td.getting_prize{ :width => "35%"}
								%img{ :src => "assets/getting_points.png"}
							%td.timer{ :width => "35%", :valign => "top"}
								%table{:width => "100%", :height => "100%"}
									%tr{ :height => "25%"}
										%td.timer_caption
											Time remaining to complete your tasks
									%tr{ :height => "50%"}
										%td.timer_content
											%a#timer_seconds 
											%a#timer_units
												SECONDS
									%tr.empty{ :height => "25%"}				
							%td.empty{ :width => "10%"}	
				%tr.empty{ :height => "20px" }
				
				%tr.content-center{ :align => "center"}
					%td{ :width => "100%"}
						%table.survey#survey{ :width => "100%" }

					%tr.empty{ :height => "50px" }

			%div.footer{ :width => "100%" }
				&copy; Copyright Fancy Survey 2013.